@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
body {
    background:linear-gradient(#ffffff,#ffffff, #89cff06a);
    background-color: #ffffff;
}
/* Navigation Bar */
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 10;
    width: 100%;
    height: 67.5px;
    z-index: 2;
    padding: 0px 30px 0px 20px;
    background: #246BCE;
    color: white;
    border-radius: 100px;
}
/* Navigation bar STI Title */
.title-text {
    color: whitesmoke;
    font-weight: 900; 
    margin-left: 15px;
    margin-top: 2px;
    font-size: 30px; 
    letter-spacing: 1px;
}
/* Navigation Items is the Icons  */
.navbar_items > ul {
    display:flex;
}
.navbar_items ul li {
    position: relative;
}
/* Line for Dropdown Seperation */
.dropdown_menu hr {
    border: 3px  solid #00000000;
}
.navbar_items ul li a {
    display:block;
    color: white;
    font-size: 20px;
    width: 100px;
    height: 62px;
    text-align: center;
    padding: 20px 10px;
}
/* Highlight color for Navbar Icon */
.navbar_items ul li a:hover, 
.navbar ul li.active {
    background-color: #80b5ff2e;
    border-radius: 10px;
}
.navbar .dropdown_menu ul li a:hover,
.navbar .dropdown_menu ul li a.active   {
    color: white;
    background-color: #246BCE;
}
/* Dropdown box is hidden/display none */
.navbar_items .dropdown_menu {
    position: absolute;
    top: 75px;
    left: -90px;
    display: none;
    border-radius: 10px;
}
/* The Switch between Display None and Display Block */
.navbar_items ul li a.a_parent.active + .dropdown_menu {
    display: block;
}
/* Dropdown Contents */
.navbar_items .dropdown_menu ul li a {
    width: 190px;
    background: #ffffff;
    border-radius: 10px;
    color: #246BCE;
    font-size: 17px;
    text-align:center;
    padding: 15px;
    box-shadow: 0 5px 5px #246bce27; 
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    width: 225px;
    height: 100%;
    background-color: #f0f8ff6f;;
    list-style: none;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1); 
    padding-left: 15px;
    padding-right: 15px;
}
/* Sidebar Menu Text */
.sidebar .icon-menu {
    margin: 23px 0px 20px 0px;
    padding: 25px;
    color: #246BCE;
    border-radius: 100px;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
}
/* Sidebar Design  1 */
.sidebar ul a{
    display: block;
    line-height: 65px;
    font-size: 15px;
    color: #246BCE;
    padding: 15px 0px 15px 15px;
    margin: 2px 0px;
    text-decoration: none;
    cursor: pointer;
}
/* Sidebar Highlighter */
.sidebar ul li:hover,
.sidebar ul li.active  {
    background-color: #246bce32;
    border-radius: 10px;
}
/* Sidebar Design  1 */
.sidebar ul a i {
    margin-right: 16px;
}
/* Main content is the box that has the page where we switch divs to show different UIs */
.maincontent {
    margin-top: 80px;
    color: #55606c;
}
/* Page is used to display them as none and later change to block by Javascript */
.page {
    display: none;
    padding: 5px 0px 0px 235px;
}

.card_container {
    display: flex;
}
.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .card-content {
    text-align: center;
  }
  
  .card-content h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .card-content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .size-toggle {
    margin-bottom: 10px;
  }
  
  .toggle-checkbox {
    display: none;
  }
  
  .toggle-label {
    display: inline-block;
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
  }
  
  .toggle-label:hover {
    background-color: #aaa;
    color: #fff;
  }
  
  .size-options {
    display: none;
    margin-top: 5px;
  }
  
  .size-option {
    margin-bottom: 5px;
  }
  
  .size-option label {
    margin-left: 5px;
  }
  
  .toggle-checkbox:checked + .toggle-label + .size-options {
    display: block;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 5px;
    background-color: #246BCE;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .btn:hover {
    background-color: #dfdfdf;
    color: #246BCE;
  }
  
                                                        
/* This is the Product Page CSS */
.product_container {
    width: 100%;
    border-radius: 20px;
    background:linear-gradient(#246bce,#ffffff);
    margin-right: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.Products_table_section {
    height: 435px;
    overflow: auto;
}

.Products_table_header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 30px;
    color: #ffffff;
    font-weight: 1000;
}

.Products_table_header p {
    color: #ffffff;
}
.Products_table tbody{
    width: 95%;
    background-color: white ;
}
.Products_table button {
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    color: #246BCE;
}

.Products_table td button:nth-child(1) {
    background-color: #ffffff;
    box-shadow: 2px 5px 5px #246bce21; 
} 
.Products_table td button:nth-child(1):hover {
    color: #ffffff;
    background-color: #50C878;
}

.Products_table td button:nth-child(2) {
    background-color: #ffffff;
    box-shadow: 2px 5px 5px #246bce21; 
}
.Products_table td button:nth-child(2):hover {
    color: #ffffff;
    background-color: #CE2029;
}

.add_new {
    padding: 0;
    border: none;
    background: none;
    border-radius: 5px;
    padding: 10px 30px;
    color: #246BCE;
    background-color: #ffffff;
    box-shadow: 0 3px 4px #246bce37;
}
.add_new:hover{
    color: #ffffff;
    background-color: #246BCE;
}

.product_container table {
    width: 100%;
    table-layout: fixed;
    min-width: 900px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.product_container thead th {
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #92a0b1;
    font-size: 15px;
}

.product_container th,td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}

.product_container td img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #ced0d2;
}

.product_container tr:hover td {
    color: #0298cf;
    cursor: pointer;
    background-color: #246bce0d;;
}

.add_product {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 10px 20px;
    background: #246bce17;
    border-radius: 0 0 10px 10px;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(0,0,0,0.3);
}

/* This is the Product Management CSS */
.box-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    width: 20%;
    border:1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background:linear-gradient(#ffffff,#F0F8FF);
    box-shadow: 0 20px 35px #246bce27; 
}

.box {
    margin-top:  3vh;
    margin-left: calc(20vh + 20px);
    width: 250%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* This is the css width of the form */
form {
    width: 90%;
    max-width: 600px;
}

/* This is for the margin of the input group */
.input-group {
    margin-bottom: 30px;
    position: relative;
}

/* This css is for the Input and the textarea for the product management */
input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border:none;
    border-radius: 15px;
    color: black;
    background: rgb(255, 255, 255);
    font-size: 15px;
    box-shadow: 0 5px 5px #246bce27;
}

/* This is the background color of the input hover effect */
input:hover{
    background-color: #246bce11;
}

/* This is the background color of the hover option of the textarea */
textarea:hover{
    background-color: #246bce11;
}

/* This is the CSS for the label */
label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #246BCE;
    font-weight: 1000;
    cursor: text;
    transition: 0.2s;
}

/* This is the CSS for the Save and Cancle button */
.productmanage-btn {
    padding: 10px 0;
    color: #246BCE;
    outline: none;
    background: #ffffff;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 20%;
    cursor: pointer;
    box-shadow: 0 5px 5px #246bce27;
    font-weight: bold;
}

/* This is for the hover CSS of the save and cancle button */
.productmanage-btn:hover {
    color: #ffffff;
    background-color: #246BCE;
    transform: translateY(-5px);
}

/* This is the css used for the label to make it hover obove the box when you type inside of the box */
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

/* This CSS is for the form and the P of the product management */
.box-box form p {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #246BCE;
    text-align: center;
}

/* Product Management Size option */
.size-options {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
}
  
.size-options.show {
    display: flex;
}

/* Available Sizes Button */
.available-sizes-btn {
    padding: 10px 20px;
    color: #246BCE;
    outline: none;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 5px 5px #246bce27;
}
  
.available-sizes-btn:hover {
    background-color: #19549c;
    transform: translateY(-5px);
}

.sizebtn {
    margin-top: 4px;
    padding: 10px 15px 10px 15px;
    color: #246BCE;
    outline: none;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 5px 5px #246bce27;
}
 
.sizebtn:hover {
    background-color: #ffffff;
    transform: translateY(-5px);
}
.sizebtn.active {
    background-color: #246BCE;
    color: #ffffff;
}

